@import './mixins.scss';
@import './variables.scss';

body {
  margin: 0px;
}

.view {
    font-family: 'Raleway', sans-serif;
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    min-height: 100%;
    padding: 5px;
    color: $cape-cod;
    &.dark-mode {
      background-color: black;

      .input-style-1 {
        background-color: black;
        border-color: $mine-shaft;
        color: $gallery;
        &::placeholder {
          color: $chicago;
        }
      }

      .button-style-1 {
        background-color: black;
        border-color: $gunsmoke;
        color: $gunsmoke;
        &.selected {
          border-color: $alto;
          color: $gallery;
        }
      }

      .button-style-2 {
        background-color: black;
        border-width: 2px;
        color: $gallery;
        &:hover {
          background-color: green;
        }
      }

      .panel {
        box-shadow: 0 0 1px $gunsmoke;
      }

      .panel-title {
        color: $alto;
        &:hover {
            color: $silver-chalice;
        }
      }

      .panel-open-close-arrow {
        color: $cloud;
      }

      .retrieving-habits-status {
        color: $alto;
      }

      .today-panel {
        .error-message-icon {
          position: relative;
          right: 180px;
          bottom: 42px;
          color: red;
          &:hover {
            cursor: pointer;
            i:after {
              content: "error";
            }
          }
          i {
            &:after {
              content: "error_outline";
            }
            color: red;
            font-size: 36px;
          }
        }
        .dark-mode-switch {
          color: $alto;
          &:hover {
              color: $cloud;
              cursor: pointer;
          }
        }
        .today-panel-date {
          color: $silver-chalice;
        }
        .add-habit {
          background-color: black;
          box-shadow: 0 0 1px $gallery;
          color: $silver-chalice;
          &:hover {
            border: 1px solid $boulder;
            color: $gallery;
          }
        }
        .add-habit-line-breaker {
          border-color: $woodsmoke;
        }
      }

      .history-viewer-panel {
        .date-entry {
          .separating-text {
              color: $cape-cod;
          }
          .select-yesterday, .before-yesterday {
              border-color: $cape-cod;
              color: $silver-chalice;
              &:hover {
                  background-color: transparent;
                  border-color: $star-dust;
                  color: $gallery;
              }
          }
          input {
            &::placeholder {
              color: $boulder;
            }
          }
        }
        .change-date {
          border-color: $cape-cod;
          color: $silver-chalice;
          &:hover {
            background-color: transparent;
            border-color: $star-dust;
            color: $gallery;
          }
        }
      }

      .set-habit-data-shortcut-background {
        background-color: rgba(133, 133, 133, 0.44);
      }

      .all-habit-lists {
        border: 1px solid $woodsmoke;
        .habit-list {

          &.good-habits {
              .habit-success {
                  border-color: $christi;
                  .frequency-statistic {
                      color: $la-palma;
                  }
                  .current-progress {
                      color: $la-palma;
                  }
              }
              .habit-failure {
                  border-color: $blue-gem;
                  .frequency-statistic {
                      color: $jacksons-purple;
                  }
                  .current-progress {
                      color: $jacksons-purple;
                  }
              }
          }

          &.bad-habits {
              .habit-success {
                  border-color: $fire-bush;
                  .frequency-statistic {
                      color: $tussock;
                  }
                  .current-progress {
                      color: $tussock;
                  }
              }
              .habit-failure {
                  border-color: $guardsman-red;
                  .frequency-statistic {
                    color: $stiletto;
                  }
                  .current-progress {
                      color: $stiletto;
                  }
              }
          }

          .habit {
            border-width: 2px;
            background-color: inherit !important;
            color: $cloud;
            .habit-amount-complete {
              input {
                background-color: $shark;
                color: $gallery;
              }
            }
            .actions-dropdown {
              .action-buttons {
                .action-button {
                  background-color: black;
                  color: $cloud;
                  border: none;
                  box-shadow: 0 0 1px $gallery;
                  &:hover {
                    border: 1px solid $boulder;
                    color: $gallery;
                  }
                }
              }
            }
          }
        }
      }
    }

    .today-panel {
        @extend .panel;
        @extend .no-select;

        i {
            @extend .panel-open-close-arrow;
        }

        .today-panel-title {
            @extend .panel-title;
        }

        .dark-mode-switch {
          position: absolute;
          top: 25px;
          right: 80px;
          color: $chicago;
          &:hover {
            color: black;
            cursor: pointer;
          }
        }

        .today-panel-date {
            color: $silver-chalice;
            font-size: 16px;
            display: inline-block;
            font-style: italic;
        }

        .add-habit {
            @extend .box-shadow-4;

            border: none;
            display: block;
            width: 100%;
            background-color: white;
            vertical-align: middle;
            text-align: center;
            font-size: 20px;
            font-weight: 600;
            cursor: pointer;
            height: 60px;
            margin-top: 15px;
        }

        .add-habit-line-breaker {
            display: block;
            width: 100%;
            border: 0.5px solid $alto;
        }

        .add-habit-input-form {

            .add-habit-input-form-name-and-description, .add-habit-input-form-unit-name {
                box-sizing: border-box;
                display: inline-block;
                float: left;
                width: 250px;

                .add-habit-input-form-name {
                    @extend .input-style-1;

                    height: 40px;
                    width: 100%;
                }

                .add-habit-input-form-description {
                    @extend .input-style-1;

                    height: 100px;
                    width: 100%;
                }

                .habit-unit-name-singular, .habit-unit-name-plural {
                    @extend .input-style-1;

                    height: 40px;
                    margin-bottom: 10px;
                    width: 200px;
                }
            }

            .add-habit-input-form-unit-name {
                width: 200px;
                margin-left: 10px;
            }

            .add-habit-input-form-time-of-day {
                display: inline-block;
                width: 100px;
                float: left;

                .habit-time-of-day {
                    @extend .button-style-1;

                    height: 40px;
                    margin: 0 0 10px 10px;
                    width: 90px;
                }
            }

            .add-habit-input-form-frequency-tag-name {
                display: inline-block;
                width: 170px;
                float: left;

                button {
                    @extend .button-style-1;

                    margin: 0 0 10px 10px;
                    height: 40px;
                    width: 150px;
                }
            }

            .add-habit-input-form-habit-tag-name {
                display: inline-block;
                width: 100px;
                float: left;

                button {
                    @extend .button-style-1;

                    width: 90px;
                    height: 40px;
                    margin: 0 0 10px 0;
                }
            }

            .add-habit-input-form-x-times-per-week {
                input {
                    @extend .input-style-1;

                    width: 100px;
                    height: 40px;
                }
            }

            .add-habit-input-form-specific-days-of-week {
                display: block;
                float: left;
                width: 330px;

                input {
                    @extend .input-style-1;

                    height: 40px;
                    width: 100px;
                    display: inline-block;
                    margin: 0 10px 10px 0;
                    float: left;
                }
            }

            .add-habit-input-form-x-times-per-y-days {
                display: block;
                float: left;
                width: 110px;

                input {
                    @extend .input-style-1;

                    height: 40px;
                    width: 100px;
                    display: inline-block;
                    margin: 0 10px 10px 0;
                    float: left;
                }
            }

            .add-new-habit {
                @extend .button-style-2;

                height: 40px;
                margin-top: 10px;
                width: 160px;
                border-radius: 5px;
                font-size: 20px;
            }
        }
    }

    .history-viewer-panel {
        @extend .panel;
        @extend .no-select;

        margin-top: 10px;

        .history-viewer-panel-title {
            @extend .panel-title;
        }

        .selected-date-title {
            color: $silver-chalice;
            font-size: 16px;
            display: inline-block;
            font-style: italic;
            margin-bottom: 5px;
        }

        i {
            @extend .panel-open-close-arrow;
        }

        .date-entry {
            display: block;

            input {
                width: 100px;
                margin: 10px 0 0 10px;
                @extend .input-style-1;
                text-align: center;
            }

            .separating-text {
                margin-left: 5px;
                color: $cape-cod;
            }

            .select-yesterday, .before-yesterday {
                border: 1px solid $boulder;
                color: $star-dust;
                border-radius: 5px;
                padding: 5px;
                margin-right: 10px;
                font-size: 14px;
                cursor: pointer;

                &:hover {
                    background-color: $cloud;
                    color: $boulder;
                }
            }
        }

        .change-date {
            position: absolute;
            border: 1px solid $silver-chalice;
            color: $star-dust;
            border-radius: 5px;
            margin-left: 10px;
            cursor: pointer;
            padding: 4px;
            font-size: 12px;
            top: 48px;

            &:hover {
                background-color: $cloud;
                color: $boulder;
            }
        }
    }
    .set-habit-data-shortcut {
      .set-habit-data-shortcut-background {
        position: absolute;
        left: 0px;
        top: 0px;
        height: 100vh;
        width: 100vw;
        z-index: 2;
        background-color: rgba(101, 101, 101, 0.59);
      }
      .set-habit-data-shortcut-habit-selection {
        .set-habit-data-shortcut-habit-selection-input {
          position: absolute;
          text-align: center;
          top: 40vh;
          right: 40vw;
          z-index: 3;
          width: 300px;
          height: 20px;
          font-size: 16px;
        }
        .set-habit-data-shortcut-habits-selection-habits-list {
          position: absolute;
          text-align: center;
          top: 45vh;
          right: 40vw;
          color: white;
          z-index: 3;
          width: 300px;
          border: 1px solid white;
          .set-habit-data-shortcut-habits-selection-habits-list-habit-name {
            border: 0.5px solid white;
            padding: 0.5px;
            background-color: $shark-90;
            &.set-habit-data-shortcut-habits-selection-habits-list-selected-habit {
              font-weight: 600;
              font-style: normal;
              border-width: 2px;
              font-size: 15px;
              padding: 1px;
              background-color: $black-90;
            }
          }
        }
      }
      .set-habit-data-shortcut-amount-form {
        .set-habit-data-shortcut-amount-form-selected-habit-name {
          position: absolute;
          text-align: center;
          background-color: $shark-90;
          border: 2px solid white;
          top: 35vh;
          right: 40vw;
          z-index: 3;
          width: 300px;
          height: 25px;
          font-size: 20px;
          color: white;
          padding-top: 3px;
        }
        .set-habit-data-shortcut-amount-form-input {
          position: absolute;
          text-align: center;
          top: 40vh;
          right: 40vw;
          z-index: 3;
          width: 300px;
          height: 20px;
          font-size: 16px;
        }
      }
    }
    .edit-goal-dialog {
      .edit-goal-dialog-background {
        position: absolute;
        left: 0px;
        top: 0px;
        height: 100vh;
        width: 100vw;
        z-index: 2;
        background-color: rgba(101, 101, 101, 0.59);
      }
      .edit-goal-dialog-form {
        position: absolute;
        text-align: center;
        top: 5vh;
        right: 32.5vw;
        z-index: 3;
        width: 500px;
        height: 650px;
        font-size: 16px;
        color: white;
        border: 2px solid white;
        background-color: black;
        box-shadow: 5px 5px $woodsmoke;
        display: flex;
        flex-direction: column;

        .edit-goal-dialog-form-header {
          position: relative;
          top: 30px;
          font-size: 24px;
          font-weight: 400;
          padding: 10px;
        }

        .edit-goal-dialog-form-line-break {
          display: block;
          width: 450px;
          border: 0.5px solid $cape-cod;
          position: relative;
          left: 25px;
          top: 40px;
        }

        .edit-goal-dialog-form-current-goal-text {
          position: relative;
          top: 65px;
        }

        .edit-goal-dialog-form-current-goal-tag {
          text-align: center;
          position: relative;
          top: 75px;
          display: flex;
          justify-content: center;

          button {
              @extend .button-style-1;

              position: relative;
              height: 30px;
              width: 140px;
              cursor: default;
              border-color: $alto !important;
              color: $gallery !important;
          }
        }

        .edit-goal-dialog-form-current-goal-description {
          position: relative;
          top: 85px;
          font-size: 14px;
        }

        .edit-goal-dialog-form-new-goal-line-break {
          @extend .edit-goal-dialog-form-line-break;
          top: 110px;
          width: 400px;
          left: 50px;
        }

        .edit-goal-dialog-form-new-goal-header {
          position: relative;
          top: 130px;
        }

        .edit-goal-dialog-form-new-goal-frequency-tags {
          position: relative;
          top: 135px;
          display: flex;
          justify-content: center;
          button {
              @extend .button-style-1;

              position: relative;
              height: 30px;
              width: 140px;
              margin: 5px;
          }
        }

        .edit-goal-dialog-form-new-goal-description {
          position: relative;
          top: 145px;
          font-size: 14px;
        }

        .edit-goal-dialog-form-new-goal-forms {
          position: relative;
          top: 160px;
          display: flex;
          justify-content: center;
          .edit-goal-dialog-form-new-goal-total-week-frequency-form {
              input {
                  @extend .input-style-1;

                  text-align: center;
                  width: 100px;
                  height: 40px;
              }
          }

          .edit-goal-dialog-form-new-goal-specific-day-of-week-frequency-form {
              display: block;
              float: left;
              width: 440px;

              input {
                  @extend .input-style-1;

                  text-align: center;
                  height: 40px;
                  width: 100px;
                  display: inline-block;
                  margin: 0 10px 10px 0;
                  float: left;
              }
          }

          .edit-goal-dialog-form-new-goal-every-x-days-frequency-form {
              display: block;
              float: left;
              width: 220px;

              input {
                  @extend .input-style-1;

                  text-align: center;
                  height: 40px;
                  width: 100px;
                  display: inline-block;
                  margin: 0 10px 10px 0;
                  float: left;
              }
          }
        }

        .edit-goal-dialog-form-confirmation-message-line-break {
          @extend .edit-goal-dialog-form-line-break;
          top: 180px;
          width: 400px;
          left: 50px;
        }

        .edit-goal-dialog-form-confirmation-message {
          position: relative;
          top: 200px;
          font-size: 14px;
        }

        .edit-goal-dialog-form-submit-button-line-break {
          @extend .edit-goal-dialog-form-line-break;
          top: 220px;
          width: 400px;
          left: 50px;
          display: none;
        }

        .edit-goal-dialog-form-buttons {
          position: relative;
          top: 220px;
          width: 250px;
          left: 125px;
          .edit-goal-dialog-form-buttons-cancel {
            @extend .button-style-1;
            height: 30px;
            width: 100px;
          }
          .edit-goal-dialog-form-buttons-submit {
            @extend .button-style-2;
            float: right;
            height: 30px;
            width: 100px;
          }
        }
      }
    }
    .error-message {
      .error-message-background {
        position: absolute;
        left: 0px;
        top: 0px;
        height: 100vh;
        width: 100vw;
        z-index: 2;
        background-color: rgba(101, 101, 101, 0.59);
        display: flex;
        justify-content: center;
        align-items: center;

        .error-message-text {
          display: flex;
          flex-direction: column;
          justify-content: center;
          text-align: center;
          top: 40vh;
          right: 40vw;
          z-index: 3;
          min-width: 400px;
          height: 40px;
          font-size: 20px;
          color: red;
          background-color: black;
        }
      }
    }
    .all-habit-lists {
      overflow: auto;
      height: 76vh;
      margin-top: 10px;
      padding-left: 5px;
      border: 1px solid $gallery;
      .habit-list {
          display: block;
          overflow: auto;
          // margin-top: -5px;
          margin-left: 5px;

          &.good-habits {
              .habit-success {
                  background-color: $screamin-green;
                  border-color:  $de-york;
                  .frequency-statistic {
                      color: $forest-green;
                  }
                  .current-progress {
                      color: $bilbao;
                  }
              }
              .habit-failure {
                  background-color: $chetwode-blue;
                  border-color:  $blue-ribbon;
                  .frequency-statistic {
                      color: $fuscous-grey;
                  }
                  .current-progress {
                      color: $cape-cod;
                  }
              }
          }

          &.bad-habits {
              .habit-success {
                  background-color: $koromiko;
                  border-color:  $casablanca;
                  .frequency-statistic {
                      color: $himalaya;
                  }
                  .current-progress {
                      color: $spicy-mustard;
                  }
              }
              .habit-failure {
                  background-color: $well-read;
                  border-color: $red-berry;
                  .frequency-statistic {
                    color: $kilamanjaro;
                  }
                  .current-progress {
                      color: $chocolate;
                      font-weight: 700;
                  }
              }
          }

          &.suspended-habits {
            .habit-success, .habit-failure {
              background-color: $star-dust;
              border-color: $boulder;
            }
            .frequency-statistic {
                color: $cape-cod;
            }
            .current-progress {
                color: $tuatara;
            }
          }

          .habit {
              float: left;
              display: inline-block;
              position: relative;
              padding: 7px;
              margin: 15px 15px 0 2px;
              width: 325px;
              min-width: 200px;
              min-height: 80px;
              box-sizing: border-box;
              color: white;
              border-width: 1px;
              border-style: solid;

              &:hover {
                .actions-dropdown {
                  .actions-dropdown-toggler-default {
                    visibility: visible;
                  }
                }
              }

              .habit-name {
                  font-weight: 600;
                  max-width: 130px;
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  float: left;
              }

              .actions-dropdown {
                float: left;
                margin-left: 11px;
                margin-top: -4px;
                position: relative;
                &:hover {
                  .actions-dropdown-toggler-default:after {
                    content: "▾";
                  }
                }
                .actions-dropdown-toggler-default {
                  font-size: 20px;
                  text-align: center;
                  visibility: hidden;
                  &:after {
                    content: "▿";
                  }
                  &:hover {
                    cursor: pointer;
                  }
                }
                .actions-dropdown-toggler-full {
                  @extend .actions-dropdown-toggler-default;
                  visibility: visible;
                  &:after {
                    content: "▾";
                  }
                }
                .action-buttons {
                  z-index: 1;
                  position: absolute;
                  .action-button {
                    @extend .button-style-3;
                    height: 23px;
                    width: 80px;
                  }
                }
              }

              .frequency-stats-list {
                  float: right;
              }

              .frequency-statistic {
                  margin-left: 10px;
                  height: 17px;
                  width: 130px;
                  font-weight: 200;
                  font-size: 12px;
                  text-align: right;
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
              }

              .current-progress {
                  @extend .frequency-statistic;
                  font-weight: 600;
              }

              .habit-amount-complete {
                  box-sizing: border-box;
                  position: absolute;
                  bottom: 7px;
                  border: none;
                  width: 160px;

                  input  {
                      box-sizing: border-box;
                      border: none;
                      border-radius: 1px;
                      height: 25px;
                      padding: 5px;
                      width: 100%;
                  }

                  i {
                      display: none;
                  }

                  &.editing {
                      width: 170px;

                      i {
                          display: block;
                          position: absolute;
                          right: -35px;
                          top: -4px;
                          font-size: 33px;
                          cursor: pointer;
                          color: $cape-cod;

                          &:hover {
                              color: $shark;
                          }
                      }
                  }
              }
          }

          .habit-success {
              @extend .habit;
          }
          .habit-failure {
              @extend .habit;
          }
      }
    }
    .panel {
        position: relative;
        box-sizing: border-box;
        display: block;
        padding: 20px;
        float: left;
        width: 100%;
        height: 100vh;
        overflow: auto;

        @extend .box-shadow-5;
    }

    .panel-title {
        color: $chicago;
        font-size: 26px;
        font-weight: 600;
        margin-top: 3px;
        margin-bottom: 8px;
        cursor: pointer;

        &:hover {
            color: $mine-shaft;
        }
    }

    .panel-open-close-arrow {
        position: absolute;
        right: 0px;
        top: 10px;
        font-size: 48px;
        color: $star-dust;
    }
}

.display-none {
    display: none !important;
}

.visibility-hidden {
    visibility: hidden !important;
    height: 0;
    width: 0;
    padding: 0;
    margin: 0;
}
