@import './mixins.scss';
@import './variables.scss';

body {
  margin: 0px;
}

.input-style-1-dark {
  @extend .input-style-1;
  background-color: black;
  border-color: $mine-shaft;
  color: $gallery;
  &::placeholder {
    color: $chicago;
  }
}

.button-style-1-dark {
  @extend .button-style-1;
  background-color: black;
  border-color: $gunsmoke;
  color: $gunsmoke;
  &.selected {
    border-color: $alto;
    color: $gallery;
    background-color: inherit;
  }
  &:hover {
    background-color: inherit;
    color: $alto;
  }
}

.button-style-2-dark {
  @extend .button-style-2;
  background-color: black;
  color: $gallery;
  &:hover {
    background-color: green;
  }
}

.dropdown-button-dark {
  background-color: black;
  color: $cloud;
  border: none;
  box-shadow: 0 0 1px $gallery;
  &:hover {
    border: 1px solid $boulder;
    color: $gallery;
  }
}

.logged-out-view {
  @extend .full-screen-centered-flex-container;
  font-family: "Raleway", sans-serif;
  background-color: black;
  color: white;

  .welcome-message {
    font-size: 30px;
    margin-bottom: 20px;
  }

  .laughing-buddha-picture {
    width: 200px;
  }

  .choose-login-form-or-create-user-form-buttons {
    display: inline-block;
    button {
        @extend .button-style-1-dark;
        display: inline-block;
        margin: 20px 20px 0px 20px;
        height: 30px;
        width: 140px;
    }
  }

  .login-form, .create-user-form {
    input {
      display: block;
      @extend .input-style-1-dark;
      margin: 20px 20px 0px 20px;
      width: 300px;
    }
    .form-error-message {
      color: red;
      font-size: 12px;
      margin-top: 15px;
      text-align: center;
    }
    button {
      @extend .button-style-2-dark;
      width: 100%;
      margin-top: 20px;
      height: 40px;
      font-size: 15px;
      font-weight: 600;
    }
  }
}

.logged-in-view {
    font-family: 'Raleway', sans-serif;
    position: absolute;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    color: $cape-cod;
    @extend .full-screen-centered-flex-container;

    // DARK MODE

    &.dark-mode {
      background-color: black;

      .input-style-1 {
        background-color: black;
        border-color: $mine-shaft;
        color: $gallery;
        &::placeholder {
          color: $chicago;
        }
      }

      .button-style-1 {
        background-color: black;
        border-color: $gunsmoke;
        color: $gunsmoke;
        &.selected {
          border-color: $alto;
          color: $gallery;
          background-color: inherit;
        }
        &:hover {
          background-color: inherit;
          color: $alto;
        }
      }

      .button-style-2 {
        background-color: black;
        color: $gallery;
        &:hover {
          background-color: green;
        }
      }

      .dialog-form-1 {
        color: white;
        border: 2px solid white;
        background-color: black;
        box-shadow: 5px 5px $woodsmoke;
      }

      .panels-container {

        .top-panel {

          .top-panel-title {
            color: $alto;
          }

          .top-panel-error-message-icon {
            color: red;
            &:hover {
              i:after {
                content: "error";
              }
            }
            i {
              &:after {
                content: "error_outline";
              }
              color: red;
            }
          }

          .top-panel-dark-mode-switch {
            color: $alto;
            &:hover {
                color: $cloud;
            }
          }

          .user-actions-dropdown {
            color: $alto;
            .top-panel-user-actions-dropdown-buttons {
              .top-panel-user-actions-dropdown-button {
                @extend .dropdown-button-dark;
              }
            }
          }

          .top-panel-date {
            color: $silver-chalice;
            .top-panel-date-dropdown {
                color: $alto;
                .top-panel-date-dropdown-buttons {
                  .top-panel-date-dropdown-button {
                    @extend .dropdown-button-dark;
                  }
                }

            }
          }
        }

        .habits-panel {

          .retrieving-habits-status {
            color: $alto;
          }

          .habits-panel-empty-habby-message {
            color: $boulder;
          }

          .habit-list {

            &.good-habits {
                .habit-success {
                    border-color: $christi;
                    background-color: inherit;
                    .frequency-statistic {
                        color: $la-palma;
                    }
                    .current-progress {
                        color: $la-palma;
                    }
                }
                .habit-failure {
                    border-color: $blue-gem;
                    background-color: inherit;
                    .frequency-statistic {
                        color: $jacksons-purple;
                    }
                    .current-progress {
                        color: $jacksons-purple;
                    }
                }
            }

            &.bad-habits {
                .habit-success {
                    border-color: $fire-bush;
                    background-color: inherit;
                    .frequency-statistic {
                        color: $tussock;
                    }
                    .current-progress {
                        color: $tussock;
                    }
                }
                .habit-failure {
                    border-color: $guardsman-red;
                    background-color: inherit;
                    .frequency-statistic {
                      color: $stiletto;
                    }
                    .current-progress {
                        color: $stiletto;
                    }
                }
            }

            &.suspended-habits {
              .habit-success, .habit-failure {
                border-color: $boulder;
              }
              .frequency-statistic {
                  color: $cape-cod;
              }
              .current-progress {
                  color: $tuatara;
              }
            }

            .habit {
              color: $cloud;
              .habit-amount-complete {
                input {
                  background-color: $shark;
                  color: $gallery;
                }
              }
              .actions-dropdown {
                @extend .no-select;
                .action-buttons {
                  .action-button {
                    @extend .dropdown-button-dark;
                  }
                }
              }
            }
          }
        }

        .add-habit-form {
          background-color: inherit;
          .add-habit-duplicate-habit-name-message {
            background-color: black;
            color: red;
          }
          .add-habit-form-button {
            background-color: black;
            box-shadow: 0 0 1px $gallery;
            color: $silver-chalice;
            &:hover {
              border: 1px solid $boulder;
              color: $gallery;
            }
          }
        }
      }

      .dialog-background-screen {
        background-color: rgba(133, 133, 133, 0.44);
      }

      .choose-date-dialog {
        .choose-date-dialog-form {
          .choose-date-dialog-form-calendar {
            border-color: white;
            .choose-date-dialog-form-calendar-rows {
              .choose-date-dialog-form-calendar-row {
                .choose-date-dialog-form-calendar-day-box {
                  border-color: white;
                  &:hover {
                    border-width: 2px;
                    border-color: white;
                  }
                  &.choose-date-dialog-form-calendar-day-box-chosen {
                    border-color: blue;
                    &.choose-date-dialog-form-calendar-day-box-today {
                      outline-color: blue;
                      border-color: $forest-green;
                    }
                  }
                  &.choose-date-dialog-form-calendar-day-box-today {
                    border-color: $forest-green;
                  }
                }
              }
            }
          }
        }
      }

      .edit-goal-dialog {
        .edit-goal-dialog-form {
          .edit-goal-dialog-form-current-goal-tag {
            button {
              border-color: $alto;
              color: $gallery;
              &:hover {
                background-color: black;
              }
            }
          }
        }
      }
      .graph-screen {
        .graph-screen-dialog {
          .graph-container {
            border-color: white;
            .graph-note-box {
              border-color: white;
              background-color: black;
            }
          }
        }
      }
    }

    // LIGHT MODE

    .panels-container {
      position: absolute;
      width: 99vw;
      height: 99vh;
      box-sizing: border-box;
      @extend .box-shadow-5;

      .top-panel {
        position: relative;
        box-sizing: border-box;
        display: block;
        padding-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 5px;
        float: left;
        width: 100%;
        @extend .no-select;

        &:hover {
          .top-panel-date {
            .top-panel-date-dropdown {
              .top-panel-date-dropdown-toggler-default {
                visibility: visible;
              }
            }
          }
          .user-actions-dropdown {
            .top-panel-user-actions-dropdown-toggler-default {
              visibility: visible;
            }
          }
        }

        .top-panel-title {
            color: $mine-shaft;
            font-size: 26px;
            font-weight: 600;
            margin-top: 3px;
            margin-bottom: 8px;
        }

        .top-panel-error-message-icon {
          position: absolute;
          top: 17px;
          right: 225px;
          color: red;
          &:hover {
            cursor: pointer;
            i:after {
              content: "error";
            }
          }
          i {
            &:after {
              content: "error_outline";
            }
            color: red;
            font-size: 36px;
          }
        }

        .top-panel-dark-mode-switch {
          position: absolute;
          top: 25px;
          right: 60px;
          .top-panel-dark-mode-switch-toggler {
            position: relative;
            border-radius: 20px;
            width: 45px;
            height: 20px;
            float: left;
            background-color: $dandelion;
            -webkit-transition: 0.5s;
            -ms-transition: 0.5s;
            transition: 0.5s;
            .top-panel-dark-mode-switch-toggler-slider {
              -webkit-transition: 0.5s;
              -ms-transition: 0.5s;
              transition: 0.5s;
              position: absolute;
              bottom: 3px;
              left: 3px;
              background-color: white;
              border-radius: 50%;
              width: 15px;
              height: 15px;
            }
            &.top-panel-dark-mode-switch-toggler-checked {
              background-color: $azure;
              .top-panel-dark-mode-switch-toggler-slider {
                left: 26px;
              }
            }
          }
          .top-panel-dark-mode-switch-text {
            float: right;
            margin-left: 10px;
            font-size: 15px;
          }
          color: $chicago;
          &:hover {
            color: black;
            cursor: pointer;
          }
        }

        .user-actions-dropdown {
          color: $mine-shaft;
          position: absolute;
          top: 20px;
          right: 20px;
          .top-panel-user-actions-dropdown-toggler-default {
            @extend .dropdown-toggler-default;
            font-size: 40px;
            visibility: hidden;
          }
          .top-panel-user-actions-dropdown-toggler-full {
            @extend .dropdown-toggler-full;
            font-size: 40px;
          }
          .top-panel-user-actions-dropdown-buttons {
            @extend .dropdown-buttons;
            top: 25px;
            right: 0px;
            .top-panel-user-actions-dropdown-button {
              @extend .dropdown-button;
            }
          }
        }

        .top-panel-date {
            color: $chicago;
            font-size: 16px;
            display: inline-block;
            font-style: italic;
            .top-panel-date-dropdown {
              color: $chicago;
              float: right;
              margin-left: 6px;
              .top-panel-date-dropdown-toggler-default {
                @extend .dropdown-toggler-default;
                visibility: hidden;
              }
              .top-panel-date-dropdown-toggler-full {
                @extend .dropdown-toggler-full;
              }
              .top-panel-date-dropdown-buttons {
                @extend .dropdown-buttons;
                .top-panel-date-dropdown-button {
                  @extend .dropdown-button;
                  font-style: italic;
                }
              }
            }
        }
      }

      .habits-panel {
        overflow: scroll;
        height: 76vh;
        padding: 5px;

        .retrieving-habits-status {
          position: absolute;
          top: 45%;
          width: 100%;
          text-align: center;
        }

        .habits-panel-empty-habby-message {
          @extend .full-screen-centered-flex-container;
          position: relative;
          height: 100%;
          width: 100%;
          color: $cape-cod;
          .habits-panel-empty-habby-message-header {
            margin-top: -30px;
            font-size: 30px;
          }
          .habits-panel-empty-habby-message-body {
            margin-top: 10px;
            font-size: 16px;
          }
        }

        .habit-list {
            display: block;
            overflow: auto;
            margin-left: 10px;

            &.good-habits {
                .habit-success {
                    background-color: rgb(154, 255, 180);
                    border-color:  $de-york;
                }
                .habit-failure {
                    background-color: rgb(166, 166, 255);
                    border-color:  $blue-ribbon;
                }
            }

            &.bad-habits {
                .habit-success {
                    background-color: rgb(255, 206, 128);
                    border-color:  $casablanca;
                }
                .habit-failure {
                    background-color: rgb(199, 109, 109);
                    border-color: $red-berry;
                }
            }

            &.suspended-habits {
              .habit-success, .habit-failure {
                border-color: black;
              }
            }

            .habit {
                float: left;
                display: inline-block;
                position: relative;
                padding: 7px;
                margin: 15px 15px 0 2px;
                width: 325px;
                height: 120px;
                box-sizing: border-box;
                color: black;
                border-width: 2px;
                border-style: solid;

                &:hover {
                  .actions-dropdown {
                    .actions-dropdown-toggler-default {
                      visibility: visible;
                    }
                  }
                }

                .habit-name {
                    font-weight: 600;
                    max-width: 130px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    float: left;
                }

                .actions-dropdown {
                  float: left;
                  margin-left: 7px;
                  margin-top: -1px;
                  position: relative;
                  .actions-dropdown-toggler-default {
                    @extend .dropdown-toggler-default;
                    visibility: hidden;
                  }
                  .actions-dropdown-toggler-full {
                    @extend .dropdown-toggler-full;
                  }
                  .action-buttons {
                    @extend .dropdown-buttons;
                    .action-button {
                      @extend .dropdown-button;
                    }
                  }
                }

                .frequency-stats-list {
                    float: right;
                }

                .frequency-statistic {
                    margin-left: 10px;
                    height: 17px;
                    width: 130px;
                    font-weight: 200;
                    font-size: 12px;
                    text-align: right;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                .current-progress {
                    @extend .frequency-statistic;
                    font-weight: 600;
                }

                .start-this-habit-message {
                  @extend .current-progress;
                  float: right;
                }

                .habit-amount-complete {
                    box-sizing: border-box;
                    position: absolute;
                    bottom: 7px;
                    border: none;
                    width: 160px;

                    input  {
                        box-sizing: border-box;
                        border: none;
                        background-color: $gallery;
                        border-radius: 1px;
                        height: 25px;
                        padding: 5px;
                        width: 100%;
                    }

                    i {
                        display: none;
                    }

                    &.editing {
                        width: 170px;

                        i {
                            display: block;
                            position: absolute;
                            right: -35px;
                            top: -4px;
                            font-size: 33px;
                            cursor: pointer;
                            color: $cape-cod;

                            &:hover {
                                color: $shark;
                            }
                        }
                    }
                }
            }

            .habit-success {
                @extend .habit;
            }
            .habit-failure {
                @extend .habit;
            }
        }
      }

      .add-habit-form {
        position: absolute;
        box-sizing: border-box;
        bottom: 0px;
        width: 100%;
        padding: 10px;
        background-color: transparent;
        &.form-is-open {
          z-index: 3;
        }
        .add-habit-duplicate-habit-name-message {
          color: black;
          text-align: center;
          margin-bottom: 50px;
          background-color: white;
          text {
            background-color: blue;
          }
        }
        .add-habit-form-button {
          @extend .box-shadow-4;
          border: none;
          display: block;
          width: 100%;
          background-color: white;
          vertical-align: middle;
          text-align: center;
          font-size: 20px;
          font-weight: 600;
          cursor: pointer;
          height: 60px;
          margin-top: 15px;
        }

        .add-habit-form-body {

          .add-habit-form-body-habit-tag-name {
              display: inline-block;
              width: 100px;
              float: left;
              button {
                  @extend .button-style-1;
                  width: 90px;
                  height: 40px;
                  margin: 0 0 10px 0;
              }
          }

          .add-habit-form-body-name-and-description, .add-habit-form-body-unit-name {
            box-sizing: border-box;
            display: inline-block;
            float: left;
            width: 250px;
            .add-habit-form-body-name {
                @extend .input-style-1;

                height: 40px;
                width: 100%;
            }
            .add-habit-form-body-description {
                @extend .input-style-1;

                height: 100px;
                width: 100%;
            }
            .habit-unit-name-singular, .habit-unit-name-plural {
                @extend .input-style-1;

                height: 40px;
                margin-bottom: 10px;
                width: 200px;
            }
          }

          .add-habit-form-body-unit-name {
              width: 200px;
              margin-left: 10px;
          }

          .add-habit-form-body-time-of-day {
              display: inline-block;
              width: 100px;
              float: left;

              .habit-time-of-day {
                  @extend .button-style-1;

                  height: 40px;
                  margin: 0 0 10px 10px;
                  width: 90px;
              }
          }

          .add-habit-form-body-frequency-tag-name {
              display: inline-block;
              width: 170px;
              float: left;

              button {
                  @extend .button-style-1;

                  margin: 0 0 10px 10px;
                  height: 40px;
                  width: 150px;
              }
          }

          .add-habit-form-body-x-times-per-week {
            float: left;
              input {
                  @extend .input-style-1;
                  margin: 0 10px 10px 0;
                  width: 100px;
                  height: 40px;
              }
          }

          .add-habit-form-body-specific-days-of-week {
              display: block;
              float: left;
              width: 330px;

              input {
                  @extend .input-style-1;

                  height: 40px;
                  width: 100px;
                  display: inline-block;
                  margin: 0 10px 10px 0;
                  float: left;
              }
          }

          .add-habit-form-body-x-times-per-y-days {
              display: block;
              float: left;
              width: 110px;

              input {
                  @extend .input-style-1;

                  height: 40px;
                  width: 100px;
                  display: inline-block;
                  margin: 0 10px 10px 0;
                  float: left;
              }
          }

          .add-habit-form-submit-button {
              @extend .button-style-2;
              height: 40px;
              width: 160px;
              border-radius: 5px;
              font-size: 20px;
          }
        }
      }
    }

    .dialog-background-screen {
      position: absolute;
      left: 0px;
      top: 0px;
      height: 100vh;
      width: 100vw;
      z-index: 2;
      background-color: rgba(101, 101, 101, 0.59);
    }

    .available-keyboard-shortcuts-screen {
      @extend .full-screen-centered-flex-container;
      z-index: 4;
      background-color: rgba(124, 124, 124, 0.88);
      .available-keyboard-shortcuts-screen-body {
        .available-keyboard-shortcuts-screen-body-title {
          z-index: 3;
          color: white;
          font-size: 36px;
        }
        .available-keyboard-shortcuts-screen-body-list {
          margin-top: 50px;
          margin-bottom: 25px;
          .shortcut {
            margin-top: 20px;
            width: 450px;
            color: rgb(224, 224, 224);
            font-size: 24px;
            .shortcut-keys {
              display: inline-block;
              margin-right: 10px;
            }
            .shortcut-desc {
              display: inline-block;
              float: right;
            }
          }
        }
      }
    }

    .choose-date-dialog {
      @extend .full-screen-centered-flex-container;
      .choose-date-dialog-form {
        @extend .dialog-form-1;
        @extend .no-select;
        width: 475px;
        padding: 40px 20px 40px 20px;
        .choose-date-dialog-form-chosen-ymd-text {
          font-size: 18px;
          margin-bottom: 10px;
        }
        .choose-date-dialog-form-change-date-buttons {
          .choose-date-dialog-form-change-date-button {
            @extend .button-style-1;
            display: inline-block;
            margin: 10px 7px 0px 7px;
            padding: 5px 10px 5px 10px;
            font-size: 15px;
          }
        }
        .choose-date-dialog-form-calendar {
          margin-top: 20px;
          border: 2px solid $cape-cod;
          min-height: 250px;
          width: 350px;
          .choose-date-dialog-form-calendar-month-or-day-or-year {
            margin: 15px 7px 0px 7px;
            display: inline-block;
            .choose-date-dialog-form-calendar-month-or-day-or-year-left-arrow {
              @extend .select-previous-left-arrow;
            }
            .choose-date-dialog-form-calendar-month-or-day-or-year-right-arrow {
              @extend .select-next-right-arrow;
            }
          }
          .choose-date-dialog-form-calendar-weekdays {
            margin-top: 10px;
            .choose-date-dialog-form-calendar-weekday-box {
              @extend .calendar-day-box;
              height: 20px;
            }
          }
          .choose-date-dialog-form-calendar-rows {
            margin-bottom: 20px;
            .choose-date-dialog-form-calendar-row {
              .choose-date-dialog-form-calendar-day-box {
                @extend .calendar-day-box;
                border: 1px solid $silver-chalice;
                box-sizing: border-box;
                cursor: pointer;
                &:hover {
                  border-color: $cape-cod;
                }
                &.choose-date-dialog-form-calendar-day-box-chosen {
                  border: 2px solid black;
                  &.choose-date-dialog-form-calendar-day-box-today {
                    border: 2px solid $de-york;
                    outline: 1px solid black;
                  }
                }
                &.choose-date-dialog-form-calendar-day-box-today {
                  border: 2px solid $de-york;
                }
                &.choose-date-dialog-form-calendar-day-box-empty-placeholder {
                  visibility: hidden;
                }
              }
            }
          }
        }
        .choose-date-dialog-form-submit-buttons {
          margin-top: 20px;
          width: 250px;
          .choose-date-dialog-form-submit-buttons-cancel {
            @extend .button-style-1;
            height: 30px;
            width: 100px;
          }
          .choose-date-dialog-form-submit-buttons-submit {
            @extend .button-style-2;
            float: right;
            height: 30px;
            width: 100px;
          }
        }
      }
    }

    .set-habit-data-shortcut-amount-screen {
        @extend .full-screen-centered-flex-container;
        .set-habit-data-shortcut-amount-screen-selected-habit-name {
          text-align: center;
          background-color: $shark-90;
          border: 2px solid white;
          margin-bottom: 8px;
          z-index: 3;
          width: 300px;
          height: 25px;
          font-size: 20px;
          color: white;
          padding-top: 3px;
        }
        .set-habit-data-shortcut-amount-screen-input {
          text-align: center;
          z-index: 3;
          margin-bottom: 70px;
          width: 300px;
          height: 20px;
          font-size: 16px;
        }
    }
    .edit-goal-dialog {
      @extend .full-screen-centered-flex-container;
      .edit-goal-dialog-form {
        @extend .dialog-form-1;
        min-height: 500px;

        .edit-goal-dialog-form-header {
          font-size: 24px;
          font-weight: 400;
        }

        .edit-goal-dialog-form-line-break {
          @extend .dialog-form-line-break;
          margin-top: 20px;
        }

        .edit-goal-dialog-form-current-goal-text {
          margin-top: 25px;
        }

        .edit-goal-dialog-form-current-goal-tag {
          margin-top: 10px;

          button {
              @extend .button-style-1;

              height: 30px;
              width: 140px;
              cursor: default;
              border-color: $alto;
              color: $star-dust;
              &:hover {
                background-color: $gallery;
              }
          }
        }

        .edit-goal-dialog-form-current-goal-description {
          margin-top: 10px;
          font-size: 14px;
        }

        .edit-goal-dialog-form-new-goal-line-break {
          @extend .dialog-form-line-break;
          margin-top: 20px;
          width: 400px;
          left: 50px;
        }

        .edit-goal-dialog-form-new-goal-header {
          margin-top: 20px;
        }

        .edit-goal-dialog-form-new-goal-frequency-tags {
          margin-top: 5px;
          display: flex;
          justify-content: center;
          button {
              @extend .button-style-1;

              position: relative;
              height: 30px;
              width: 140px;
              margin: 5px;
          }
        }

        .edit-goal-dialog-form-new-goal-description {
          margin-top: 5px;
          font-size: 14px;
        }

        .edit-goal-dialog-form-new-goal-forms {
          margin-top: 15px;
          display: flex;
          justify-content: center;
          .edit-goal-dialog-form-new-goal-forms-input {
            @extend .input-style-1;
            text-align: center;
            width: 100px;
            height: 40px;
            margin: 0 10px 10px 0;
          }
          .edit-goal-dialog-form-new-goal-total-week-frequency-form {
              input {
                  @extend .edit-goal-dialog-form-new-goal-forms-input;
              }
          }

          .edit-goal-dialog-form-new-goal-specific-day-of-week-frequency-form {
              display: block;
              float: left;
              width: 440px;

              input {
                  @extend .edit-goal-dialog-form-new-goal-forms-input;
                  display: inline-block;
                  float: left;
              }
          }

          .edit-goal-dialog-form-new-goal-every-x-days-frequency-form {
              display: block;
              float: left;
              width: 220px;

              input {
                  @extend .edit-goal-dialog-form-new-goal-forms-input;
                  display: inline-block;
                  float: left;
              }
          }
        }

        .edit-goal-dialog-form-confirmation-message-line-break {
          @extend .dialog-form-line-break;
          margin-top: 20px;
          width: 400px;
        }

        .edit-goal-dialog-form-confirmation-message {
          margin-top: 20px;
          margin-left: 5px;
          margin-right: 5px;
          font-size: 14px;
        }

        .edit-goal-dialog-form-buttons {
          margin-top: 20px;
          width: 250px;
          .edit-goal-dialog-form-buttons-cancel {
            @extend .button-style-1;
            height: 30px;
            width: 100px;
          }
          .edit-goal-dialog-form-buttons-submit {
            @extend .button-style-2;
            float: right;
            height: 30px;
            width: 100px;
          }
        }
      }
    }
    .error-message {
      @extend .full-screen-centered-flex-container;
      .error-message-text {
        display: flex;
        flex-direction: column;
        padding: 30px;
        justify-content: center;
        text-align: center;
        z-index: 3;
        min-width: 400px;
        min-height: 40px;
        font-size: 20px;
        color: red;
        background-color: black;
      }
    }


    .habit-selection-screen {
        @extend .full-screen-centered-flex-container;

        .habit-selection-screen-header {
          position: absolute;
          top: 11.5vh;
          z-index: 3;
          color: white;
          font-size: 36px;
        }

        .habit-selection-filter-text-input {
          position: absolute;
          text-align: center;
          top: 17vh;
          z-index: 3;
          width: 300px;
          height: 20px;
          font-size: 16px;
        }

        .habit-selection-habits-list {
          position: absolute;
          text-align: center;
          top: 21.5vh;
          color: white;
          z-index: 3;
          width: 300px;
          max-height: 575px;
          overflow-y: auto;
          border: 1px solid white;
          .habit-selection-habits-list-option {
            border: 0.5px solid white;
            padding: 0.5px;
            background-color: $shark-90;
            &.selected-habit {
              font-weight: 600;
              font-style: normal;
              border-width: 2px;
              font-size: 15px;
              padding: 1px;
              background-color: $black-90;
            }
          }
        }

    }

    .suspend-or-resume-confirmation-screen {
      @extend .full-screen-centered-flex-container;
      .suspend-or-resume-confirmation-screen-dialog {
        @extend .dialog-form-1;
        min-height: 200px;
        min-width: 500px;
        .suspend-or-resume-confirmation-screen-dialog-header-habit-name {
          font-size: 24px;
          font-weight: 400;
        }
        .suspend-or-resume-confirmation-screen-dialog-header-date {
          font-style: italic;
          margin-top: 15px;
        }
        .suspend-or-resume-confirmation-screen-dialog-header-line-break {
          @extend .dialog-form-line-break;
          margin-top: 30px;
          width: 80%;
        }
        .suspend-or-resume-confirmation-screen-dialog-confirmation-message {
          width: 400px;
          margin-top: 30px;
        }
        .suspend-or-resume-confirmation-screen-dialog-form-buttons {
          margin-top: 30px;
          width: 250px;
          .suspend-or-resume-confirmation-screen-dialog-form-buttons-cancel {
            @extend .button-style-1;
            height: 30px;
            width: 100px;
          }
          .suspend-or-resume-confirmation-screen-dialog-form-buttons-submit {
            @extend .button-style-2;
            float: right;
            height: 30px;
            width: 100px;
          }
        }
      }
    }

    .graph-screen {
      @extend .full-screen-centered-flex-container;
      .graph-screen-dialog {
        @extend .dialog-form-1;
        min-height: 600px;
        min-width: 700px;
        .graph-screen-dialog-header-habit-name {
          font-size: 24px;
          font-weight: 400;
        }
        .graph-screen-dialog-header-date {
          font-style: italic;
          margin-top: 15px;
        }
        .graph-screen-dialog-header-line-break {
          @extend .dialog-form-line-break;
          margin-top: 20px;
          width: 80%;
        }
        .graph-screen-dialog-change-numdays-buttons {
          .graph-screen-dialog-change-numdays-button {
            @extend .button-style-1;
            display: inline-block;
            margin: 15px 7px 0px 7px;
            padding: 5px 10px 5px 10px;
            font-size: 15px;
          }
        }
        .graph-container {
          margin-top: 15px;
          border: 2px solid black;
          width: 625px;
          height: 475px;
          .graph-note-box {
            border-bottom: 2px solid black;
            box-sizing: border-box;
            background-color: white;
            padding: 10px;
            position: absolute;
            top: 0px;
            width: 625px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .graph-note-box-date-line {
              margin-top: 10px;
              margin-bottom: 10px;
              width: 300px;
              border: 0.5px solid $cape-cod;
            }
          }
        }
        .graph-screen-dialog-graph-container {
          @extend .graph-container;
        }
        .graph-screen-dialog-graph-container-empty {
          @extend .graph-container;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }
      }
    }


    .add-note-dialog {
      @extend .full-screen-centered-flex-container;
      .add-note-dialog-form {
        @extend .dialog-form-1;
        min-height: 200px;
        min-width: 500px;
        width: auto;
        .add-note-dialog-header-habit-name {
          font-size: 24px;
          font-weight: 400;
        }
        .add-note-dialog-header-date {
          font-style: italic;
          margin-top: 15px;
        }
        .add-note-dialog-header-note-added {
          font-size: 13px;
          margin-top: -5px;

          color: $checkmark-green;
          i:before {
            content: "done";
            font-size: 16px;
            position: relative;
            right: 4px;
            top: 2px;
          }
        }
        .add-note-dialog-header-line-break {
          @extend .dialog-form-line-break;
          margin-top: 10px;
          width: 80%;
        }
        .add-note-dialog-input {
          @extend .input-style-1;
          margin-top: 20px;
          resize: both;
          width: 450px;
          height: 125px;
        }
        .add-note-dialog-form-buttons {
          margin-top: 20px;
          width: 250px;
          .add-note-dialog-form-buttons-cancel {
            @extend .button-style-1;
            height: 30px;
            width: 100px;
          }
          .add-note-dialog-form-buttons-submit {
            @extend .button-style-2;
            float: right;
            height: 30px;
            width: 100px;
          }
        }
      }
    }
}

.display-none {
    display: none !important;
}

.visibility-hidden {
    visibility: hidden !important;
    height: 0;
    width: 0;
    padding: 0;
    margin: 0;
}
