@import './mixins.scss';
@import './variables.scss';

body {
  margin: 0px;
}

.view {
    font-family: 'Raleway', sans-serif;
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    min-height: 100%;
    padding: 5px;
    color: $cape-cod;
    &.dark-mode {
      background-color: black;

      .input-style-1 {
        background-color: black;
        border-color: $mine-shaft;
        color: $gallery;
        &::placeholder {
          color: $chicago;
        }
      }

      .button-style-1 {
        background-color: black;
        border-color: $gunsmoke;
        color: $gunsmoke;
        &.selected {
          border-color: $alto;
          color: $gallery;
        }
      }

      .button-style-2 {
        background-color: black;
        border-width: 2px;
        color: $gallery;
        &:hover {
          background-color: green;
        }
      }

      .panel {
        box-shadow: 0 0 1px $gunsmoke;
      }

      .panel-title {
        color: $alto;
        &:hover {
            color: $silver-chalice;
        }
      }

      .panel-open-close-arrow {
        color: $cloud;
      }

      .today-panel {
        .dark-mode-switch {
          color: $alto;
          &:hover {
              color: $cloud;
              cursor: pointer;
          }
        }
        .today-panel-date {
          color: $silver-chalice;
        }
        .add-habit {
          background-color: black;
          box-shadow: 0 0 1px $gallery;
          color: $silver-chalice;
          &:hover {
            border: 1px solid $boulder;
            color: $gallery;
          }
        }
        .add-habit-line-breaker {
          border-color: $woodsmoke;
        }
      }

      .history-viewer-panel {
        .date-entry {
          .separating-text {
              color: $cape-cod;
          }
          .select-yesterday, .before-yesterday {
              border-color: $cape-cod;
              color: $silver-chalice;
              &:hover {
                  background-color: transparent;
                  border-color: $star-dust;
                  color: $gallery;
              }
          }
          input {
            &::placeholder {
              color: $boulder;
            }
          }
        }
        .change-date {
          border-color: $cape-cod;
          color: $silver-chalice;
          &:hover {
            background-color: transparent;
            border-color: $star-dust;
            color: $gallery;
          }
        }
      }

      .habit-list {

        &.good-habits {
            .habit-success {
                border-color: $christi;
                .frequency-statistic {
                    color: $la-palma;
                }
                .current-progress {
                    color: $la-palma;
                }
            }
            .habit-failure {
                border-color: $blue-gem;
                .frequency-statistic {
                    color: $jacksons-purple;
                }
                .current-progress {
                    color: $jacksons-purple;
                }
            }
        }

        .habit {
          border-width: 2px;
          background-color: inherit !important;
          color: $cloud;
          .habit-amount-complete {
            input {
              background-color: $shark;
              color: $gallery;
            }
          }
          .actions-dropdown {
            .action-buttons {
              .action-button {
                background-color: black;
                color: $cloud;
                border: none;
                box-shadow: 0 0 1px $gallery;
                &:hover {
                  border: 1px solid $boulder;
                  color: $gallery;
                }
              }
            }
          }
        }
      }
    }

    .today-panel {
        @extend .panel;
        @extend .no-select;

        i {
            @extend .panel-open-close-arrow;
        }

        .today-panel-title {
            @extend .panel-title;
        }

        .dark-mode-switch {
          position: absolute;
          top: 25px;
          right: 80px;
          color: $chicago;
          &:hover {
            color: black;
            cursor: pointer;
          }
        }

        .today-panel-date {
            color: $silver-chalice;
            font-size: 16px;
            display: inline-block;
            font-style: italic;
        }

        .add-habit {
            @extend .box-shadow-4;

            border: none;
            display: block;
            width: 100%;
            background-color: white;
            vertical-align: middle;
            text-align: center;
            font-size: 20px;
            font-weight: 600;
            cursor: pointer;
            height: 60px;
            margin-top: 15px;
        }

        .add-habit-line-breaker {
            display: block;
            width: 100%;
            border: 0.5px solid $alto;
        }

        .add-habit-input-form {

            .add-habit-input-form-name-and-description, .add-habit-input-form-unit-name {
                box-sizing: border-box;
                display: inline-block;
                float: left;
                width: 250px;

                .add-habit-input-form-name {
                    @extend .input-style-1;

                    height: 40px;
                    width: 100%;
                }

                .add-habit-input-form-description {
                    @extend .input-style-1;

                    height: 100px;
                    width: 100%;
                }

                .habit-unit-name-singular, .habit-unit-name-plural {
                    @extend .input-style-1;

                    height: 40px;
                    margin-bottom: 10px;
                    width: 200px;
                }
            }

            .add-habit-input-form-unit-name {
                width: 200px;
                margin-left: 10px;
            }

            .add-habit-input-form-time-of-day {
                display: inline-block;
                width: 100px;
                float: left;

                .habit-time-of-day {
                    @extend .button-style-1;

                    height: 40px;
                    margin: 0 0 10px 10px;
                    width: 90px;
                }
            }

            .add-habit-input-form-frequency-tag-name {
                display: inline-block;
                width: 170px;
                float: left;

                button {
                    @extend .button-style-1;

                    margin: 0 0 10px 10px;
                    height: 40px;
                    width: 150px;
                }
            }

            .add-habit-input-form-habit-tag-name {
                display: inline-block;
                width: 100px;
                float: left;

                button {
                    @extend .button-style-1;

                    width: 90px;
                    height: 40px;
                    margin: 0 0 10px 0;
                }
            }

            .add-habit-input-form-x-times-per-week {
                input {
                    @extend .input-style-1;

                    width: 100px;
                    height: 40px;
                }
            }

            .add-habit-input-form-specific-days-of-week {
                display: block;
                float: left;
                width: 330px;

                input {
                    @extend .input-style-1;

                    height: 40px;
                    width: 100px;
                    display: inline-block;
                    margin: 0 10px 10px 0;
                    float: left;
                }
            }

            .add-habit-input-form-x-times-per-y-days {
                display: block;
                float: left;
                width: 110px;

                input {
                    @extend .input-style-1;

                    height: 40px;
                    width: 100px;
                    display: inline-block;
                    margin: 0 10px 10px 0;
                    float: left;
                }
            }

            .add-new-habit {
                @extend .button-style-2;

                height: 40px;
                margin-top: 10px;
                width: 160px;
                border-radius: 5px;
                font-size: 20px;
            }
        }
    }

    .history-viewer-panel {
        @extend .panel;
        @extend .no-select;

        margin-top: 10px;

        .history-viewer-panel-title {
            @extend .panel-title;
        }

        .selected-date-title {
            color: $silver-chalice;
            font-size: 16px;
            display: inline-block;
            font-style: italic;
            margin-bottom: 5px;
        }

        i {
            @extend .panel-open-close-arrow;
        }

        .date-entry {
            display: block;

            input {
                width: 100px;
                margin: 10px 0 0 10px;
                @extend .input-style-1;
                text-align: center;
            }

            .separating-text {
                margin-left: 5px;
                color: $cape-cod;
            }

            .select-yesterday, .before-yesterday {
                border: 1px solid $boulder;
                color: $star-dust;
                border-radius: 5px;
                padding: 5px;
                margin-right: 10px;
                font-size: 14px;
                cursor: pointer;

                &:hover {
                    background-color: $cloud;
                    color: $boulder;
                }
            }
        }

        .change-date {
            position: absolute;
            border: 1px solid $silver-chalice;
            color: $star-dust;
            border-radius: 5px;
            margin-left: 10px;
            cursor: pointer;
            padding: 4px;
            font-size: 12px;
            top: 48px;

            &:hover {
                background-color: $cloud;
                color: $boulder;
            }
        }
    }

    .habit-list {
        display: block;
        overflow: auto;
        margin-top: -5px;

        &.good-habits {
            .habit-success {
                background-color: $screamin-green;
                border-color:  $de-york;
                .frequency-statistic {
                    color: $forest-green;
                }
                .current-progress {
                    color: $bilbao;
                }
            }
            .habit-failure {
                background-color: $chetwode-blue;
                border-color:  $blue-ribbon;
                .frequency-statistic {
                    color: $fuscous-grey;
                }
                .current-progress {
                    color: $cape-cod;
                }
            }
        }

        &.bad-habits {
            .habit-success {
                background-color: $koromiko;
                border-color:  $casablanca;
                .frequency-statistic {
                    color: $himalaya;
                }
                .current-progress {
                    color: $spicy-mustard;
                }
            }
            .habit-failure {
                background-color: $well-read;
                border-color: $red-berry;
                .frequency-statistic {
                  color: $kilamanjaro;
                }
                .current-progress {
                    color: $chocolate;
                    font-weight: 700;
                }
            }
        }

        &.suspended-habits {
          .habit-success, .habit-failure {
            background-color: $star-dust;
            border-color: $boulder;
          }
          .frequency-statistic {
              color: $cape-cod;
          }
          .current-progress {
              color: $tuatara;
          }
        }

        .habit {
            float: left;
            display: inline-block;
            position: relative;
            padding: 7px;
            margin: 15px 15px 0 2px;
            width: 325px;
            min-width: 200px;
            min-height: 80px;
            box-sizing: border-box;
            color: white;
            border-width: 1px;
            border-style: solid;

            &:hover {
              .actions-dropdown {
                .actions-dropdown-toggler-default {
                  visibility: visible;
                }
              }
            }

            .habit-name {
                font-weight: 600;
                max-width: 130px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                float: left;
            }

            .actions-dropdown {
              float: left;
              margin-left: 11px;
              margin-top: -4px;
              &:hover {
                .actions-dropdown-toggler-default:after {
                  content: "▾";
                }
              }
              .actions-dropdown-toggler-default {
                font-size: 20px;
                text-align: center;
                visibility: hidden;
                &:after {
                  content: "▿";
                }
                &:hover {
                  cursor: pointer;
                }
              }
              .actions-dropdown-toggler-full {
                @extend .actions-dropdown-toggler-default;
                visibility: visible;
                &:after {
                  content: "▾";
                }
              }
              .action-buttons {
                z-index: 1;
                position: relative;
                top: 21px;
                .action-button {
                  @extend .button-style-3;
                  height: 23px;
                  width: 80px;
                }
              }
            }

            .frequency-stats-list {
                float: right;
            }

            .frequency-statistic {
                margin-left: 10px;
                height: 17px;
                width: 130px;
                font-weight: 200;
                font-size: 12px;
                text-align: right;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .current-progress {
                @extend .frequency-statistic;
                font-weight: 600;
            }

            .habit-amount-complete {
                box-sizing: border-box;
                position: absolute;
                bottom: 7px;
                border: none;
                width: 160px;

                input  {
                    box-sizing: border-box;
                    border: none;
                    border-radius: 1px;
                    height: 25px;
                    padding: 5px;
                    width: 100%;
                }

                i {
                    display: none;
                }

                &.editing {
                    width: 170px;

                    i {
                        display: block;
                        position: absolute;
                        right: -35px;
                        top: -4px;
                        font-size: 33px;
                        cursor: pointer;
                        color: $cape-cod;

                        &:hover {
                            color: $shark;
                        }
                    }
                }
            }
        }

        .habit-success {
            @extend .habit;
        }
        .habit-failure {
            @extend .habit;
        }
    }
    .panel {
        position: relative;
        box-sizing: border-box;
        display: block;
        padding: 20px;
        float: left;
        width: 100%;

        @extend .box-shadow-5;
    }

    .panel-title {
        color: $chicago;
        font-size: 26px;
        font-weight: 600;
        margin-top: 3px;
        margin-bottom: 8px;
        cursor: pointer;

        &:hover {
            color: $mine-shaft;
        }
    }

    .panel-open-close-arrow {
        position: absolute;
        right: 0px;
        top: 10px;
        font-size: 48px;
        color: $star-dust;
    }
}

.display-none {
    display: none !important;
}

.visibility-hidden {
    visibility: hidden !important;
    height: 0;
    width: 0;
    padding: 0;
    margin: 0;
}
