@import './variables.scss';

// @refer http://cssdeck.com/labs/16-box-shadows-to-save-your-time/
.box-shadow-5 {
  box-shadow: 0 0 1px $silver-chalice;
}
.box-shadow-4{
  box-shadow: 0 0 4px 1px $black-20;

  &:hover {
    box-shadow: 0 0 4px 1px $black-40;
  }
}
.box-shadow-14 {
  -webkit-box-shadow:0 1px 4px $black-30, 0 0 40px $black-10 inset;
  -moz-box-shadow:0 1px 4px $black-30, 0 0 40px $black-10 inset;
  box-shadow:0 1px 4px $black-30, 0 0 40px $black-10 inset;
}



// Different button styles.
.button-style-1 {
  color: $cape-cod;
  display: block;
  cursor: pointer;
  background-color: $gallery;
  border: 1px solid $alto;

  &:hover {
    background-color: $alto;
  }

  &.selected {
    border: 1px solid $cape-cod;
    background-color: $alto;
  }
}

.button-style-2 {
  color: white;
  display: block;
  cursor: pointer;
  background-color: $apple;
  border: 2px solid green;

  &:hover {
    background-color: green;
  }
}

.button-style-3 {
  color: $cape-cod;
  display: block;
  cursor: pointer;
  background-color: white;
  font-weight: 410;
  border: 1px solid $gallery;

  &:hover {
    background-color: $gallery;
  }

  &.selected {
    border: 1px solid $gunsmoke;
    background-color: $gallery;
  }
}



// Different input styles.
.input-style-1 {
  box-sizing: border-box;
  padding: 5px;
  display: inline-block;
  resize: none;
  box-shadow: none;
  border: 1px solid $silver-chalice;
  border-radius: 2px;
  font-size: 16px;
}



// No Select
.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
  not supported by any browser */
  cursor: default;
}



// Dropdowns
.dropdown-toggler-default {
  font-size: 20px;
  &:after {
    content: "▿";
  }
  &:hover {
    cursor: pointer;
    &:after {
      content: "▾";
    }
  }
}
.dropdown-toggler-full {
  @extend .dropdown-toggler-default;
  &:after {
    content: "▾";
  }
}
.dropdown-buttons {
  z-index: 1;
  position: absolute;
}
.dropdown-button {
  @extend .button-style-3;
  height: 23px;
  width: 90px;
}



// Dialog forms
.dialog-form-1 {
  text-align: center;
  z-index: 3;
  width: 500px;
  font-size: 16px;
  color: white;
  border: 2px solid white;
  background-color: black;
  box-shadow: 5px 5px $woodsmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 20px 50px 20px;
}

.dialog-form-line-break {
  width: 450px;
  border: 0.5px solid $cape-cod;
}



// Habit Selection Screen
.habit-selection-header {
  position: absolute;
  top: 11.5vh;
  z-index: 3;
  color: white;
  font-size: 36px;
}

.habit-selection-filter-text-input {
  position: absolute;
  text-align: center;
  top: 17vh;
  z-index: 3;
  width: 300px;
  height: 20px;
  font-size: 16px;
}

.habit-selection-habits-list {
  position: absolute;
  text-align: center;
  top: 21.5vh;
  color: white;
  z-index: 3;
  width: 300px;
  border: 1px solid white;
}
.habit-selection-habits-list-option {
  border: 0.5px solid white;
  padding: 0.5px;
  background-color: $shark-90;
}
.habit-selection-habits-list-option-selected {
  font-weight: 600;
  font-style: normal;
  border-width: 2px;
  font-size: 15px;
  padding: 1px;
  background-color: $black-90;
}



// Choose Custom Date Calendar
.select-next-or-previous-arrow {
  font-size: 20px;
  cursor: pointer;
  &:hover {
    font-weight: 600;
  }
}
.select-previous-left-arrow {
  @extend .select-next-or-previous-arrow;
  margin-right: 9px;
  &:after {
    content: "<";
  }
}
.select-next-right-arrow {
  @extend .select-next-or-previous-arrow;
  margin-left: 9px;
  &:after {
    content: ">";
  }
}
.calendar-day-box {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  margin: 5px;
  width: 30px;
  height: 30px;
}



// Full Screen Centered Flex
.full-screen-centered-flex-container {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
