// Greys
$woodsmoke: #141414;
$cape-cod: #444;
$boulder: #777;
$gunsmoke: #888;
$star-dust: #999;
$silver-chalice: #AAA;
$cloud: #CCC;
$alto: #ddd;
$gallery: #eee;

// good habit box success
$screamin-green: rgb(87, 251, 128);
$de-york: rgb(100, 182, 120);
$forest-green: rgb(16, 147, 0);
$malachite: rgb(21, 194, 0);
$bilbao: rgb(35, 126, 27);
$checkmark-green: rgb(84, 210, 54);

// good habit box failure
$chetwode-blue: rgb(132, 132, 231);
$blue-ribbon: rgb(93, 93, 230);
$fuscous-grey: rgb(79, 79, 79);

// bad habit box success
$koromiko: #ffc971;
$casablanca: #e9b155;
$himalaya: rgb(91, 79, 0);
$spicy-mustard: rgb(99, 84, 0);

// bad habit box failure
$well-read: rgb(203, 68, 68);
$red-berry: rgb(153, 0, 0);
$kilamanjaro: rgb(32, 0, 0);
$chocolate: rgb(56, 0, 0);

// suspended habit box
$tuatara: rgb(56, 56, 56);

// habit amount complete
$shark: #222;

// panel title
$chicago: #555;
$mine-shaft: #333;

// mixins
$black-10: rgba(0, 0, 0, 0.1);
$black-20: rgba(0, 0, 0, 0.2);
$black-30: rgba(0, 0, 0, 0.3);
$black-40: rgba(0, 0, 0, 0.4);
$apple: rgb(76, 175, 80);

// dark mode for good habit failure
$blue-gem: rgb(0, 23, 142);
$jacksons-purple: rgb(35, 35, 189);

// dark mode for good habit success
$christi: rgb(62, 140, 18);
$la-palma: rgb(63, 136, 20);

// dark mode for bad habit failure
$guardsman-red: rgb(186, 22, 22);
$stiletto: rgb(210, 22, 22);

// dark mode for bad habit success
$fire-bush: #daa54d;
$tussock: #cb9940;

// Set Habit Data Shortcut
$black-90: rgba(0, 0, 0, 0.9);
$shark-90: rgba(32, 32, 32, 0.9);

// Dark mode toggle switch
$azure: rgb(6, 93, 162);
$dandelion: rgb(250, 215, 92);
