// Greys
$woodsmoke: #111;
$cape-cod: #444;
$silver-chalice: #AAA;
$boulder: #777;
$gunsmoke: #888;
$star-dust: #999;
$cloud: #CCC;
$alto: #ddd;
$gallery: #eee;

// good habit box success
$screamin-green: rgb(87, 251, 128);
$de-york: rgb(100, 182, 120);
$forest-green: rgb(16, 147, 0);
$bilbao: rgb(35, 126, 27);

// good habit box failure
$chetwode-blue: rgb(132, 132, 231);
$blue-ribbon: rgb(93, 93, 230);
$fuscous-grey: rgb(79, 79, 79);

// bad habit box success
$koromiko: #ffc971;
$casablanca: #e9b155;
$himalaya: rgb(91, 79, 0);
$spicy-mustard: rgb(99, 84, 0);

// bad habit box failure
$well-read: rgb(203, 68, 68);
$red-berry: rgb(153, 0, 0);
$kilamanjaro: rgb(32, 0, 0);
$chocolate: rgb(56, 0, 0);

// suspended habit box
$tuatara: rgb(56, 56, 56);

// habit amount complete
$shark: #222;

// panel title
$chicago: #555;
$mine-shaft: #333;

// mixins
$black-10: rgba(0, 0, 0, 0.1);
$black-20: rgba(0, 0, 0, 0.2);
$black-30: rgba(0, 0, 0, 0.3);
$black-40: rgba(0, 0, 0, 0.4);
$apple: #4caf50;
