{:enums {:habit_time {:description "Describes what time of day a habit should be completed."
                      :values [ :MORNING :EVENING :ANYTIME]}}

 :unions {:frequency {:description "A list of possible frequency settings."
                      :members [:specific_day_of_week_frequency
                                :total_week_frequency
                                :every_x_days_frequency]}

          :habit {:description "A good or bad habit."
                  :members [:good_habit :bad_habit]}}

 :objects {:date {:description "A year/month/day."
                  :fields {:year {:type (non-null Int)}
                           :month {:type (non-null Int)}
                           :day {:type (non-null Int)}}}

           :user {:description "A user."
                  :fields {:_id {:type (non-null ID)}
                           :username {:type (non-null String)}
                           :display_name {:type (non-null String)}
                           :email_address {:type String}
                           :encrypted_password {:type (non-null String)}}}

           :user_safe_fields {:description "All fields of a user that are safe to send to the client (i.e. not the password)."
                              :fields {:_id {:type (non-null ID)}
                                       :username {:type (non-null String)}
                                       :display_name {:type (non-null String)}
                                       :email_address {:type String}}}

           :specific_day_of_week_frequency {:description "A frequency that happens on specific days of the week."
                                            :fields {:monday {:type Int}
                                                     :tuesday {:type Int}
                                                     :wednesday {:type Int}
                                                     :thursday {:type Int}
                                                     :friday {:type Int}
                                                     :saturday {:type Int}
                                                     :sunday {:type Int}}}

           :total_week_frequency {:description "A frequency that happens a certain number of times per week."
                                  :fields {:week {:type (non-null Int)}}}

           :every_x_days_frequency {:description "A frequency that happens a certain number of times per a certain number of days."
                                    :fields {:times {:type (non-null Int)}
                                             :days {:type (non-null Int)}}}

           :frequency_change_record {:description "A record of a habit's goal frequency being changed on a specific date."
                                     :fields {:start_date {:type (non-null :date)
                                                           :resolve :query/start-date-to-y-m-d-format}
                                              :end_date {:type :date
                                                         :resolve :query/end-date-to-y-m-d-format}
                                              :new_frequency {:type (non-null :frequency)
                                                              :resolve :query/tag-type-for-new-frequency}}}

           :suspended_interval {:description "A record of a habit being suspended for a certain period of time."
                                :fields {:start_date {:type (non-null :date)
                                                      :resolve :query/suspended-start-date-to-y-m-d-format}
                                         :end_date {:type :date
                                                    :resolve :query/suspended-end-date-to-y-m-d-format}}}

           :good_habit {:description "A good habit that a user is trying to maintain."
                        :fields {:_id {:type (non-null ID)}
                                 :user_id {:type (non-null ID)}
                                 :name {:type (non-null String)}
                                 :description {:type String}
                                 :unit_name_singular {:type (non-null String)}
                                 :unit_name_plural {:type (non-null String)}
                                 :time_of_day {:type (non-null :habit_time)}
                                 :target_frequencies {:type (non-null (list (non-null :frequency_change_record)))}
                                 :suspensions {:type (non-null (list (non-null :suspended_interval)))}}}

           :bad_habit {:description "A bad habit a user is trying to reduce."
                       :fields {:_id {:type (non-null ID)}
                                :user_id {:type (non-null ID)}
                                :name {:type (non-null String)}
                                :description {:type String}
                                :unit_name_singular {:type (non-null String)}
                                :unit_name_plural {:type (non-null String)}
                                :threshold_frequencies {:type (non-null (list (non-null :frequency_change_record)))}
                                :suspensions {:type (non-null (list (non-null :suspended_interval)))}}}

           :habit_day_record {:description "A record of how much a user's habit was performed on a specific day."
                              :fields {:_id {:type (non-null ID)}
                                       :user_id {:type (non-null ID)}
                                       :habit_id {:type (non-null ID)}
                                       :date {:type (non-null :date)
                                              :resolve :query/date-to-y-m-d-format}
                                       :amount {:type (non-null Int)}}}

           :habit_goal_interval {:description "An interval of time governed by one of a habit's goals."
                                 :fields {:start_date {:type (non-null :date)
                                                       :resolve :query/habit-goal-interval-start-date-to-y-m-d-format}
                                          :end_date {:type (non-null :date)
                                                     :resolve :query/habit-goal-interval-end-date-to-y-m-d-format}
                                          :total_done {:type (non-null Int)}
                                          :successful {:type (non-null Boolean)}
                                          :suspended {:type (non-null Boolean)}
                                          :valid {:type (non-null Boolean)}
                                          :goal_amount {:type (non-null Int)}}}

           :habit_goal_interval_list {:description "A list of evaluated habit goal intervals for a habit."
                                      :fields {:habit_id {:type (non-null ID)}
                                               :goal_intervals {:type (non-null (list (non-null :habit_goal_interval)))}}}

           :habit_frequency_stats {:description "Statistics for how the user has performed with this habit."
                                   :fields {:habit_id {:type (non-null ID)}
                                            :total_fragments {:type (non-null Int)}
                                            :successful_fragments {:type (non-null Int)}
                                            :total_done {:type (non-null Int)}
                                            :current_fragment_streak {:type (non-null Int)}
                                            :best_fragment_streak {:type (non-null Int)}
                                            :current_fragment_total {:type (non-null Int)}
                                            :current_fragment_goal {:type (non-null Int)}
                                            :current_fragment_days_left {:type (non-null Int)}
                                            :habit_has_started {:type (non-null Boolean)}
                                            :currently_suspended {:type (non-null Boolean)}}}

           :habit_day_note {:description "A note related to a habit on a given day."
                            :fields {:_id {:type (non-null ID)}
                                     :user_id {:type (non-null ID)}
                                     :habit_id {:type (non-null ID)}
                                     :date {:type (non-null :date)
                                            :resolve :query/habit-day-note-date-to-y-m-d-format}
                                     :note {:type (non-null String)}}}}

 :queries {:get_habits {:type (non-null (list (non-null :habit)))
                        :description "Get all a user's habits, or optionally only some of them."
                        :args {:user_id {:type (non-null ID)}
                               :habit_ids {:type (list (non-null ID))}}
                        :resolve :query/get-habits}

           :login_user {:type :user_safe_fields
                        :description "Attempt to authenticate a user. Returns the user's safe fields if successful, else null."
                        :args {:user_name_input {:type (non-null String)}
                               :user_password_input {:type (non-null String)}}
                        :resolve :query/login-user}

           :get_habit_data {:type (non-null (list (non-null :habit_day_record)))
                            :description "Get all a user's habit data, optionally only belonging to specific habits."
                            :args {:user_id {:type (non-null ID)}
                                   :after_date {:type :date_data},
                                   :before_date {:type :date_data},
                                   :habit_ids {:type (list (non-null ID))}}
                            :resolve :query/get-habit-data}

           :get_habit_goal_interval_lists {:type (non-null (list (non-null :habit_goal_interval_list)))
                                           :description "Get a list of evaluated goal intervals for each habit requested."
                                           :args {:user_id {:type (non-null ID)}
                                                  :habit_ids {:type (list (non-null ID))}
                                                  :start_date {:type :date_data}
                                                  :end_date {:type (non-null :date_data)}}
                                           :resolve :query/get-habit-goal-interval-lists}

           :get_frequency_stats {:type (non-null (list (non-null :habit_frequency_stats)))
                                 :description "Get frequency stats for all of a user's habits, or optionally only for some of them."
                                 :args {:user_id {:type (non-null ID)}
                                        :habit_ids {:type (list (non-null ID))}
                                        :current_client_date {:type (non-null :date_data)}}
                                 :resolve :query/get-frequency-stats}

           :get_habit_day_notes {:type (non-null (list (non-null :habit_day_note)))
                                 :description "Get all a user's habit day notes, or optionally only for some of their habits."
                                 :args {:user_id {:type (non-null ID)}
                                        :after_date {:type :date_data},
                                        :before_date {:type :date_data},
                                        :habit_ids {:type (list (non-null ID))}}
                                 :resolve :query/get-habit-day-notes}}

 :input-objects {:date_data {:description "A year/month/day."
                              :fields {:year {:type (non-null Int)}
                                       :month {:type (non-null Int)}
                                       :day {:type (non-null Int)}}}

                 :create_every_x_days_frequency_data {:description "The data required to create a every_x_days_frequency."
                                                      :fields {:times {:type (non-null Int)}
                                                               :days {:type (non-null Int)}}}

                 :create_total_week_frequency_data {:description "The data required to create a total_week_frequency."
                                                    :fields {:week {:type (non-null Int)}}}

                 :create_specific_day_of_week_frequency_data {:description "The data required to create a specific_day_of_week_frequency."
                                                              :fields {:monday {:type Int}
                                                                       :tuesday {:type Int}
                                                                       :wednesday {:type Int}
                                                                       :thursday {:type Int}
                                                                       :friday {:type Int}
                                                                       :saturday {:type Int}
                                                                       :sunday {:type Int}}}

                 :create_frequency_data {:description "The data required to create a frequency."
                                         :fields {:type_name {:type (non-null String)}
                                                  :every_x_days_frequency {:type :create_every_x_days_frequency_data}
                                                  :total_week_frequency {:type :create_total_week_frequency_data}
                                                  :specific_day_of_week_frequency {:type :create_specific_day_of_week_frequency_data}}}

                 :create_good_habit_data {:description "The data required to create a new good habit."
                                          :fields {:user_id {:type (non-null ID)}
                                                   :name {:type (non-null String)}
                                                   :description {:type String}
                                                   :time_of_day {:type (non-null :habit_time)}
                                                   :unit_name_singular {:type (non-null String)}
                                                   :unit_name_plural {:type (non-null String)}
                                                   :initial_target_frequency {:type (non-null :create_frequency_data)}}}

                 :create_bad_habit_data {:description "The data required to create a new bad habit."
                                         :fields {:user_id {:type (non-null ID)}
                                                  :name {:type (non-null String)}
                                                  :description {:type String}
                                                  :unit_name_singular {:type (non-null String)}
                                                  :unit_name_plural {:type (non-null String)}
                                                  :initial_threshold_frequency {:type (non-null :create_frequency_data)}}}

                 :create_habit_data {:description "The data required to create a new habit."
                                     :fields {:type_name {:type (non-null String)}
                                              :good_habit {:type :create_good_habit_data}
                                              :bad_habit {:type :create_bad_habit_data}}}

                 :create_suspended_interval_data {:description "The data needed to create a suspended interval."
                                                  :fields {:start_date {:type (non-null :date_data)}
                                                           :end_date {:type :date_data}}}

                 :create_frequency_change_record_data {:description "The data required to create a frequency change record."
                                                       :fields {:start_date {:type (non-null :date_data)}
                                                                :end_date {:type :date_data}
                                                                :new_frequency {:type (non-null :create_frequency_data)}}}}

 :mutations {:add_habit {:type (non-null :habit)
                         :description "Add a user's habit to the db, returns the new habit."
                         :args {:create_habit_data {:type (non-null :create_habit_data)}
                                :frequency_start_date {:type (non-null :date_data)}}
                         :resolve :query/resolve-mutation-add-habit}

             :add_user {:type :user_safe_fields
                        :description "Attempts to add a user to the db, returns the new user's safe fields if successful."
                        :args {:new_username {:type (non-null String)}
                               :new_display_name {:type (non-null String)}
                               :new_email_address {:type String}
                               :new_password {:type (non-null String)}}
                        :resolve :query/resolve-mutation-add-user}

             :set_habit_data {:type (non-null :habit_day_record)
                              :description "Add a record of how much a user's habit was performed on a specific day."
                              :args {:user_id {:type (non-null ID)}
                                     :habit_id {:type (non-null ID)}
                                     :amount {:type (non-null Int)}
                                     :date {:type (non-null :date_data)}}
                              :resolve :query/resolve-mutation-set-habit-data}

             :set_habit_day_note {:type (non-null :habit_day_note)
                                  :description "Add a note for a user's habit on a given day."
                                  :args {:user_id {:type (non-null ID)}
                                         :habit_id {:type (non-null ID)}
                                         :note {:type (non-null String)}
                                         :date {:type (non-null :date_data)}}
                                  :resolve :query/resolve-mutation-set-habit-day-note}

             :delete_habit {:type (non-null Boolean)
                            :description "Delete a habit by ID, returns true if the habit was deleted."
                            :args {:habit_id {:type (non-null ID)}}
                            :resolve :query/resolve-mutation-delete-habit}

             :edit_habit_suspensions {:type (non-null :habit)
                                      :description "Change a habit's `suspensions` field, returns the habit."
                                      :args {:habit_id {:type (non-null ID)}
                                             :new_suspensions {:type (non-null (list (non-null :create_suspended_interval_data)))}}
                                      :resolve :query/resolve-mutation-edit-habit-suspensions}

             :edit_habit_goal_frequencies {:type (non-null :habit)
                                           :description "Change a habit's `target_frequencies` or `threshold_frequencies`, returns the habit."
                                           :args {:habit_id {:type (non-null ID)}
                                                  :new_frequencies {:type (non-null (list (non-null :create_frequency_change_record_data)))}
                                                  :habit_type {:type (non-null String)}}
                                           :resolve :query/resolve-mutation-edit-habit-goal-frequencies}}}
